.about-event-title,.about-event-title{
  display: block;
  font-size: 15px;
}
.about-event-title{
  background-color: var(--main-blue);
}
.about-us-title{
  background-color: var(--main-green);
}
.logos-bajos{
  width: 250px;
  height: 100px;
}
.logos-altos{
  height: 120px;
}

@media screen and (max-width:400px){
  .fiunsj{
    width: 300px;
  }
}