.about-event-title,.about-event-title{
  display: block;
  font-size: 15px;
}
.about-event-title{
  background-color: var(--main-blue);
}
.about-us-title{
  background-color: var(--main-green);
}
.logos-bajos{
  width: 250px;
  height: 100px;
}
.logos-altos{
  height: 120px;
}
.logo-unc{
  height: 100px;
  width: 420px;
  object-fit: cover;
  object-position: 50% 40%;
}
.logo-unvime{
  height: 150px;
  width: 250px;
  object-fit: cover;
}
.logo-facet{
  height: 100px;
  width: 225px;
  object-fit: cover;
}
@media screen and (max-width:400px){
  .fiunsj{
    width: 300px;
  }
}