:root{
  --main-green:#4df755;
  --main-blue:#001c89;
  --main-darkblue:#18273C;
  --main-dark:#343a40;
  --main-light: #ffeef2ff;
  --main-darkgreen: #156064ff;
  scroll-behavior: smooth;
}
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: var(--main-darkblue);
}
body::-webkit-scrollbar-thumb{
  background: var(--main-green);
  border-radius:12px;
  border-right:2px;
}

/* colors */ 
.green{
  color:#4df755;
}
.blue{
  color:#001c89;
}
.pbg-green{
  background-color: var(--main-green);
}
.pbg-blue{
  background-color: var(--main-blue);
}
.pbg-darkblue{
  background-color: var(--main-darkblue);
}
.pbg-dark{
  background-color: var(--main-dark);
}
.pbg-darkgreen{
  background-color: var(--main-darkgreen);
}
.pbg-light{
  background-color: var(--main-light);
}

.clean-link{
  text-decoration: none;
  color: black;
}

.text-justify{
  text-align: justify;
}
/*components*/

/*
--screamin-green: #4df755ff;
--resolution-blue: #001c89ff;
--lavender-blush: #ffeef2ff;
--skobeloff: #156064ff;
--oxford-blue: #18273cff;*/