:root{
  --main-green:#4df755;
  --main-blue:#001c89;
}
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* colors */ 
.green{
  color:#4df755;
}
.blue{
  color:#001c89;
}
.bg-green{
  background-color: #4df755;
}
.bg-blue{
  background-color: #001c89;
}

/*components*/
.green-button{
  background-color: var(--main-green);
  font-weight: 600;
  padding: 8px 0px;
  border: none;
  width: 200px;
}
.blue-button{
  background-color: var(--main-blue);
  padding: 8px 0px;
  border: none;
  width: 200px;
}
.black-button{
  background-color: #000000;
  color: white;
  font-weight: 400;
  padding: 8px 0px;
  border: none;
  width: 200px;
}