.speaker-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.speaker-description{
  height: 250px;
  overflow-y: auto;
  white-space: pre-line;
}
.speaker-description::-webkit-scrollbar {
  width: 7px;
  background-color: var(--main-light);
}
.speaker-description::-webkit-scrollbar-thumb{
  background: #DFDFDF;
  border-radius:7px;
}